RewriteEngine On # Turn on the rewriting engine





# nur zum nachlesen und für kompliziertere Menüs

# RewriteRule ^Aktuelles/?$ site.php?site=aktuelles [NC,L] # Handle requests for "aktuelles"
# RewriteRule ^Archiv/?$ site.php?site=archiv [NC,L]            #archivseite zusammengeklappt
# RewriteRule ^Archiv1/?$ site.php?site=archiv&a=1 [NC,L]        #archivseite ?a=1 aufgeklappt
# RewriteRule ^Archiv2/?$ site.php?site=archiv&a=2 [NC,L]        #archivseite ?a=1 aufgeklappt
# RewriteRule ^Archiv3/?$ site.php?site=archiv&a=3 [NC,L]        #archivseite ?a=1 aufgeklappt


# RewriteRule -
# Tells Apache that this like refers to a single RewriteRule.
# RewriteRule ^/pet-care/?$ pet_care_info_01_02_2003.php [NC,L] # Handle requests for "test"

# ^/pet-care/?$ -
# The "pattern". The server will check the URL of every request to the site to see if this pattern matches.
# If it does, then Apache will swap the URL of the request for the "substitution" section that follows.
#
# pet_care_info_01_02_2003.php -
# The "substitution". If the pattern above matches the request, Apache uses this URL instead of the requested URL.
#
# [NC,L] -
# "Flags", that tell Apache how to apply the rule. In this case, we're using two flags.
# "NC", tells Apache that this rule should be case-insensitive, and
# "L" tells Apache not to process any more rules if this one is used.
#
# Handle requests for "pet-care" - Comment explaining what the rule does (optional but recommended)
# from https://www.addedbytes.com/articles/for-beginners/url-rewriting-for-beginners/